body {
  margin: 0px auto;
  font-size: 100%;
  overflow-y: scroll;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(140px, 140px) auto 5%;
}


.name {
  grid-column: 1/4; 
  grid-row: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.name img {
  max-width: 30%;
  height: auto;
}

.nav {
  display: flex;
  text-align: right;
  grid-column: 3/4; 
  grid-row: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  margin: 3%;
  font-family: 'Roboto', sans-serif;
  color: silver;
  font-size: 100%;
  text-decoration: none;
}

.topnav:nth-child(1):hover {
  border-top: 2px solid #ff00a6;
  border-bottom: 2px solid #ff00a6;
  padding: 6px 0; 
}

.topnav:nth-child(2):hover {
  border-top: 2px solid #ffd150;
  border-bottom: 2px solid #ffd150;
  padding: 6px 0; 
}

.topnav:nth-child(3):hover {
  border-top: 2px solid #80a961;
  border-bottom: 2px solid #80a961;
  padding: 6px 0; 
}

.topnav:nth-child(4):hover {
  border-top: 2px solid #0088f6;
  border-bottom: 2px solid #0088f6;
  padding: 6px 0; 
}

.topnav:nth-child(5):hover {
  border-top: 2px solid #b353e8;
  border-bottom: 2px solid #b353e8;
  padding: 6px 0; 
}



section {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flip-card {
  background-color: white;
  width: 98vw;
  height: 55vh;
  display: flex;
}

.flip-card-front img {
  height: 100%;
  width: auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}


/* Style the back side */
.flip-card-back {
  background-color: #FFF5FF;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 100%;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


footer {
  grid-row: 6;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 6%;
}

i {
  padding: 1%;
  font-size: 200%;
  margin: 2%;
}

i:nth-child(1) {
  color: #ff3f7f;
}


i:nth-child(2) {
  color: #ffa64c;
}

i:nth-child(3) {
  color: #0088f6;
}

i:nth-child(4) {
  color: #9435C9;
}



mycolours {
color:#ff00a6;
color:#ff3f7f;
color:#ff755f;
color:#ffa64c;
color:#ffd150;
color:#80a961;
color:#008172;
color:#0088f6;
color:#0079ff;
color:#b353e8;
color:#9435C9;
}

.mobilenav {
  display: none;
}

.mobilepic {
  display: none;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
  }


  .mobilenav {
      display: inline-block;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: white;
      white-space: nowrap;
    }

    i {
      font-size: 150%;
    }

    .name img {
      max-width: 40%;
      height: auto;
      margin-bottom: 10%; 
  }

    .nav { 
      display: none;
    }

    .mobilepic {
      display: flex;
      font-family: 'Playfair Display', serif;
      color: black;
      font-size: 120%;
      flex-direction: column;
      max-width: 800px;
      text-align: center;
    }

    .mobilepic img {
      height: auto;
      width: 100%;
    }

    section {
      display:none;
    }

    footer {
      display: none;
    }
  }
